body {
  background-color: #2B2D42;
  color: #fff;
}
.center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#clock {
  font-size: 40px;
  background-color: #D90429;
  padding: 20px 50px;
  margin-top: 10px;
  border-radius: 10px;
}

#banner{
    font-size: 45px;
}